<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Grizzly</title>
</head>
<body>
    <div>
        <h3><a href="/">Главная страница</a></h3>
    </div>

    <h1>------------------</h1>

    <div>
        <p>Если ты Миша и тебе нужно сравнить телефончики</p>
        <h3><a href="misha/">ТЫК</a></h3>
    </div>

    <h1>------------------</h1>

    <div>
        <p>Для "Ришат"</p>
        <h3><a href="rishat/">ТЫК</a></h3>
    </div>

    <h1>------------------</h1>

    <div>
        <p>Если ты ЙА и тебе нужно что-то запомнить</p>
        <h3><a href="zametki/">ТЫК</a></h3>
    </div>
</body>
</html>